services:
  fulfilment-api:
    build:
      context: ../..
      dockerfile: services/fulfilment-api/Dockerfile
    container_name: fulfilment-api
    environment:
      - SERVICE_PORT=8080
      - OTEL_SERVICE_NAME=fulfilment-api
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317
      - RUST_LOG=info,fulfilment_api=info,shipyard_web=info,tower_http=warn
      - DATABASE_URL=postgres://shipyard:shipyard@postgres:5432/shipyard
    ports:
      - "8080:8080"
    depends_on:
      otelcol:
        condition: service_started
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - shipyard

  fulfilment-outbox-worker:
    build:
      context: ../..
      dockerfile: services/fulfilment-api/Dockerfile
    command: [ "outbox_worker" ]
    environment:
      - DATABASE_URL=postgres://shipyard:shipyard@postgres:5432/shipyard
      - RUST_LOG=info,fulfilment_api=info,shipyard_web=info
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - shipyard
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      - POSTGRES_USER=shipyard
      - POSTGRES_PASSWORD=shipyard
      - POSTGRES_DB=shipyard
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U shipyard -d shipyard" ]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - shipyard

  jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: jaeger
    ports:
      - "16686:16686" # UI
      # - "4317:4317" # OTLP gRPC (optional; we export to otelcol)
    networks:
      - shipyard

  prometheus:
    image: prom/prometheus:v2.54.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - shipyard

  otelcol:
    image: otel/opentelemetry-collector-contrib:0.110.0
    container_name: otelcol
    command: [ "--config=/etc/otelcol/config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml:ro
    ports:
      - "${OTELCOL_OTLP_GRPC_PORT:-14317}:4317" # OTLP gRPC ingest
      - "${OTELCOL_OTLP_HTTP_PORT:-14318}:4318" # OTLP HTTP ingest (optional)
    depends_on:
      - jaeger
    networks:
      - shipyard

networks:
  shipyard:
    name: shipyard

volumes:
  postgres_data:
